[submodule "LibretroBeetleGBA/beetle-gba-libretro"]
	path = LibretroBeetleGBA/beetle-gba-libretro
	url = https://github.com/libretro/beetle-gba-libretro
[submodule "ArcadiaGBACore/vba-next"]
	path = ArcadiaGBACore/vba-next
	url = https://github.com/libretro/vba-next.git
